.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  margin-bottom: 24px;
}

.popoverTrigger {
    position: relative;
}

.ratings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: "Manrope", sans-serif;
    font-size: var(--font-xs);
    background-color: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 8px;
}

.value {
    background-color: var(--color-purple);
    color: var(--color-bg-secondary);
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 10px;
}

.button {
    width: 36px;
    height: 36px;
    border-radius: 8px;

}

.button:hover {
    background-color: rgb(248, 248, 248);
}