.popover {
  position: absolute;
  height: auto;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px -2px;
  color: var(--color-black);
  gap: 10px;
  padding: 10px 10px;
}