.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: "Manrope", sans-serif;
  font-size: var(--font-xs);
  background-color: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 8px;
}

.value {
  background-color: var(--color-purple);
  color: var(--color-bg-secondary);
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 10px;
}
