.item {
  width: 43px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  text-wrap: nowrap;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  gap: 15px;
  white-space: nowrap;
  transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
}

.dropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 230px;
  overflow: hidden;
  border-radius: 10px;
}

.open .dropdownItem {
  padding-left: 10px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.expanded {
  background-color: var(--color-bg-nav);
}

.open {
  width: 240px;
}

.text {
  font-size: var(--font-sm);
  color: var(--color-black);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.item:hover {
  background-color: var(--color-bg-primary);
}

.expanded:hover {
  background-color: var(--color-bg-nav);
}
