.popover {
  position: absolute;
  top: 80px;
  left: calc(100vw - 300px);
  width: 280px;
  height: auto;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 10px -2px rgb(0 0 0 / 12%);
  color: var(--color-black);
  gap: 10px;
  padding: 10px 10px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 25%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid var(--color-border);
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: var(--color-bg-member);
  color: var(--color-bg-secondary);
  width: 260px;
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.3s ease;
  font-size: var(--font-sm);
}

.item:hover {
  background-color: var(--color-bg-primary);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:hover {
  background-color: transparent;
}

@media (max-width: 1025px) {
  .popover {
    top: 10px;
    left: 10px;
  }
}
