.wrapper {
  font-size: var(--font-md);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--color-skill-border);
  border-radius: 12px;
  padding: 4px 10px;
  color: var(--color-black);
  background-color: inherit;
  font-size: var(--font-md);
}


.button:hover {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
  cursor: pointer;
  color: white;
}