.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--color-skill-border);
  border-radius: 12px;
  padding: 12px;
  color: var(--color-black);
  background-color: white;
  font-weight: var(--font-weight-med);
  height: 42px;
}

.skill:hover {
  background-color: var(--color-purple);
  border-color: var(--color-purple);
  cursor: pointer;
  color: white;
}

.active {
  border: 2px solid var(--color-purple);
}
