.popover {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 160px;
  height: auto;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px -2px;
  color: var(--color-black);
  gap: 10px;
  padding: 10px 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.3s ease;
  font-size: var(--font-sm);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.item:hover {
  background-color: var(--color-bg-primary);
}

.disabled:hover {
  background-color: transparent;
}