.button {
  font-size: var(--font-xs);
  font-weight: var(--font-weight-light);
  color: var(--color-black);
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: inherit;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 25%;
}

@media (max-width: 1025px) {
  .button {
    display: none;
  }
}
