.wrapper {
  position: relative;
  height: 46px;
}

.searchInput {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  padding: 12px 16px 12px 48px;
  font-size: var(--font-sm);
}

.searchInput:hover {
    border: 1px solid var(--color-border);
}

.searchInput:focus {
    outline: none;
    border: 1px solid var(--color-purple);
}

.searchIcon {
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0.5;
}
