.avatar {
  width: 44px;
  height: 44px;
  border-radius: 25%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  border-bottom: 1px solid var(--color-border);
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: var(--color-bg-member);
  color: var(--color-bg-secondary);
  width: 260px;
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.3s ease;
  font-size: var(--font-sm);
}

.item:hover {
  background-color: var(--color-bg-primary);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:hover {
  background-color: transparent;
}