.content {
  display: flex;
  flex-direction: column;
}

.item {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.3s ease;
  font-size: var(--font-sm);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.item:hover {
  background-color: var(--color-bg-primary);
}

.disabled:hover {
  background-color: transparent;
}