.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.statsMobile {
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  z-index: 1000;
  position: fixed;
  top: 76px;
  right: 0;
  box-shadow: rgba(106, 99, 118, 0.1) 0px 4px 10px 0px;
  overflow-y: auto;
  max-height: calc(100vh - 76px);
  height: 100%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 24px;
  padding-right: 24px;
}

.content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.header,
.shortAnswer,
.longAnswer,
.main {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  color: var(--color-black);
  font-size: var(--font-md);
  padding: 24px;
  background-color: var(--color-bg-secondary);
  border-radius: 16px;
  gap: 10px;
  color: var(--color-black);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-med);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header {
  padding: 0px;
}

.title {
  font-size: var(--font-md);
}
h2.title {
  font-size: var(--font-lg);
  font-weight: var(--font-weight-med);
}

.stats {
  position: sticky;
  top: 20px;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  gap: 20px;
}

.statsButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.statsButton:hover {
  cursor: pointer;
  background-color: var(--color-bg-nav-active);
  border-radius: 8px;
}

.options {
  width: 360px;
  border: 1px solid var(--color-border);
}

.logo {
  border-radius: 12px;
}

@media (max-width: 1280px) {
  .main {
    justify-content: space-between;
  }
}
