.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 180px);
}

.nav,
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 20px 20px;
  gap: 5px;
  height: 100%;
}

.nav {
  flex: 1;
}
