.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 20px;
  text-align: center;
  color: var(--color-black);
}

.gif {
  max-width: 100%;
  height: auto;
}
