.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.filterMobile {
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  z-index: 1000;
  position: fixed;
  top: 76px;
  right: 0;
  box-shadow: rgba(106, 99, 118, 0.1) 0px 4px 10px 0px;
  overflow-y: auto;
  max-height: calc(100vh - 76px);
  height: 100%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 24px;
  padding-right: 24px;
}

.content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.filter {
  position: sticky;
  top: 20px;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  gap: 20px;
}

.options {
  width: 360px;
  border: 1px solid var(--color-border);
}
