.skillsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: var(--font-xs);
  color: #474747;
}

.button:hover {
  text-decoration: underline;
}