.stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--color-bg-secondary);
  color: #474747;
}

.skills,
.keywords,
.level {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.skillsList,
.keywordsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--color-skill-border);
  border-radius: 12px;
  padding: 12px;
  color: var(--color-black);
  background-color: white;
  font-weight: var(--font-weight-med);
  height: 42px;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  transition: 0.5s ease;
}