.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  font-size: var(--font-sm);
  position: absolute;
  left: 120%;
  transform: translateY(-100%);
  background-color: white;
  color: var(--color-black);
  text-align: center;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 8px;
  z-index: 1000;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 40%; /* Указывает на элемент */
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--color-black) transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
